<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.ware.task.dao.PickTaskMapper">
    <resultMap id="BaseResultMap" type="com.deer.wms.ware.task.model.pickTask.PickTask">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pick_task_id" jdbcType="INTEGER" property="pickTaskId"/>
        <result column="so_detail_id" jdbcType="INTEGER" property="soDetailId"/>
        <result column="so_master_id" jdbcType="INTEGER" property="soMasterId"/>
        <result column="ware_id" jdbcType="INTEGER" property="wareId"/>
        <result column="ware_name" jdbcType="VARCHAR" property="wareName"/>
        <result column="organization_id" jdbcType="INTEGER" property="organizationId"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="shelf_code" jdbcType="VARCHAR" property="shelfCode"/>
        <result column="shelf_name" jdbcType="VARCHAR" property="shelfName"/>
        <result column="cell_code" jdbcType="VARCHAR" property="cellCode"/>
        <result column="cell_name" jdbcType="VARCHAR" property="cellName"/>
        <result column="item_code" jdbcType="VARCHAR" property="itemCode"/>
        <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="batch_id" jdbcType="INTEGER" property="batchId"/>
        <result column="batch_name" jdbcType="VARCHAR" property="batchName"/>
        <result column="box_code" jdbcType="VARCHAR" property="boxCode"/>
        <result column="lpn" jdbcType="VARCHAR" property="lpn"/>
        <result column="pack_detail_id" jdbcType="INTEGER" property="packDetailId"/>
        <result column="pack_describe" jdbcType="VARCHAR" property="packDescribe"/>
        <result column="pick_quantity" jdbcType="DOUBLE" property="pickQuantity"/>
        <result column="review_quantity" jdbcType="DOUBLE" property="reviewQuantity"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="parent_task_id" jdbcType="INTEGER" property="parentTaskId"/>
        <result column="inventory_id" jdbcType="INTEGER" property="inventoryId"/>
        <result column="source" jdbcType="INTEGER" property="source"/>
        <result column="to_cell_code" jdbcType="VARCHAR" property="toCellCode"/>
        <result column="tracking_num" jdbcType="VARCHAR" property="trackingNum"/>

        <result column="pick_time" jdbcType="VARCHAR" property="pickTime"/>
        <result column="pick_user_id" jdbcType="INTEGER" property="pickUserId"/>
        <result column="pick_user_name" jdbcType="VARCHAR" property="pickUserName"/>
        <result column="check_time" jdbcType="VARCHAR" property="checkTime"/>
        <result column="check_user_id" jdbcType="INTEGER" property="checkUserId"/>
        <result column="check_user_name" jdbcType="VARCHAR" property="checkUserName"/>
        <result column="delivery_time" jdbcType="VARCHAR" property="deliveryTime"/>
        <result column="delivery_user_id" jdbcType="INTEGER" property="deliveryUserId"/>
        <result column="delivery_user_name" jdbcType="VARCHAR" property="deliveryUserName"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="seeded_quantity" jdbcType="DOUBLE" property="seededQuantity"/>
        <result column="is_parent" jdbcType="INTEGER" property="isParent"/>
        <result column="wave_master_id" jdbcType="INTEGER" property="waveMasterId"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="from_inventory_id" property="fromInventoryId" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="Dto" type="com.deer.wms.ware.task.model.pickTask.PickTaskDto" extends="BaseResultMap">
        <result column="shop_daily_count" jdbcType="INTEGER" property="shopDailyCount"/>

        <result column="bill_no" jdbcType="VARCHAR" property="billNo"/>
        <result column="trans_ratio" jdbcType="DOUBLE" property="transRatio"/>
        <result column="pack_code" jdbcType="VARCHAR" property="packCode"/>
        <result column="customer_id" jdbcType="INTEGER" property="customerId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="wave_id" jdbcType="INTEGER" property="waveId"/>
        <result column="allot_time" jdbcType="VARCHAR" property="allotTime"/>
        <result column="allot_user_id" jdbcType="INTEGER" property="allotUserId"/>
        <result column="allot_user_name" jdbcType="VARCHAR" property="allotUserName"/>
        <result column="invenId" jdbcType="INTEGER" property="invenId"/>
        <result column="is_seeding" jdbcType="INTEGER" property="isSeeding"/>
        <result column="soCreateTime" jdbcType="VARCHAR" property="soCreateTime"/>
        <result column="allot_bill_no" jdbcType="VARCHAR" property="allotBillNo"/>
        <result column="weighting" jdbcType="BIT" property="weighting"/>
        <collection property="upcs" ofType="com.deer.wms.base.system.model.ItemUpc">
            <result column="upc" jdbcType="VARCHAR" property="upc" />

        </collection>
    </resultMap>

    <update id="update">
        update pick_task
        <set>
            <if test="soDetailId != null">
                so_detail_id = #{soDetailId,jdbcType=INTEGER},
            </if>
            <if test="soMasterId != null">
                so_master_id = #{soMasterId,jdbcType=INTEGER},
            </if>
            <if test="waveMasterId != null">
                wave_master_id = #{waveMasterId,jdbcType=INTEGER},
            </if>
            <if test="wareId != null">
                ware_id = #{wareId,jdbcType=INTEGER},
            </if>
            <if test="wareName != null">
                ware_name = #{wareName,jdbcType=VARCHAR},
            </if>
            <if test="organizationId != null">
                organization_id = #{organizationId,jdbcType=INTEGER},
            </if>
            <if test="organizationName != null">
                organization_name = #{organizationName,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="shelfCode != null">
                shelf_code = #{shelfCode,jdbcType=VARCHAR},
            </if>
            <if test="shelfName != null">
                shelf_name = #{shelfName,jdbcType=VARCHAR},
            </if>
            <if test="cellCode != null">
                cell_code = #{cellCode,jdbcType=VARCHAR},
            </if>
            <if test="cellName != null">
                cell_name = #{cellName,jdbcType=VARCHAR},
            </if>
            <if test="itemCode != null">
                item_code = #{itemCode,jdbcType=VARCHAR},
            </if>
            <if test="itemName != null">
                item_name = #{itemName,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="batchId != null">
                batch_id = #{batchId,jdbcType=INTEGER},
            </if>
            <if test="batchName != null">
                batch_name = #{batchName,jdbcType=VARCHAR},
            </if>
            <if test="boxCode != null">
                box_code = #{boxCode,jdbcType=VARCHAR},
            </if>
            <if test="lpn != null">
                lpn = #{lpn,jdbcType=VARCHAR},
            </if>
            <if test="packDetailId != null">
                pack_detail_id = #{packDetailId,jdbcType=INTEGER},
            </if>
            <if test="packDescribe != null">
                pack_describe = #{packDescribe,jdbcType=VARCHAR},
            </if>
            <if test="pickQuantity != null">
                pick_quantity = #{pickQuantity,jdbcType=DOUBLE},
            </if>
            <if test="reviewQuantity != null">
                review_quantity = #{reviewQuantity,jdbcType=DOUBLE},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="parentTaskId != null">
                parent_task_id = #{parentTaskId,jdbcType=INTEGER},
            </if>
            <if test="inventoryId != null">
                inventory_id = #{inventoryId,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="toCellCode != null">
                to_cell_code = #{toCellCode,jdbcType=VARCHAR},
            </if>
            <if test="trackingNum != null">
                tracking_num = #{trackingNum,jdbcType=VARCHAR},
            </if>
            <if test="pickTime != null">
                pick_time = #{pickTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pickUserId != null">
                pick_user_id = #{pickUserId,jdbcType=INTEGER},
            </if>
            <if test="pickUserName != null">
                pick_user_name = #{pickUserName,jdbcType=VARCHAR},
            </if>
            <if test="checkTime != null">
                check_time = #{checkTime,jdbcType=TIMESTAMP},
            </if>
            <if test="checkUserId != null">
                check_user_id = #{checkUserId,jdbcType=INTEGER},
            </if>
            <if test="checkUserName != null">
                check_user_name = #{checkUserName,jdbcType=VARCHAR},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryUserId != null">
                delivery_user_id = #{deliveryUserId,jdbcType=INTEGER},
            </if>
            <if test="deliveryUserName != null">
                delivery_user_name = #{deliveryUserName,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="seededQuantity != null">
                seeded_quantity = #{seededQuantity,jdbcType=DOUBLE},
            </if>
            <if test="isParent != null">
                is_parent = #{isParent,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                version = version + 1,
            </if>
            <if test="fromInventoryId != null">
                from_inventory_id = #{fromInventoryId,jdbcType=INTEGER}
            </if>
        </set>
        where pick_task_id = #{pickTaskId,jdbcType=INTEGER} and version = #{version}
    </update>

    <delete id="deleteByIdVersion">
        delete from pick_task where pick_task_id = #{pickTaskId} and version = #{version}
    </delete>

    <select id="findList" parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskCriteria" resultMap="Dto">
        select
        pt.*,
        sm.bill_no,
        sm.customer_id,
        sm.customer_name,
        sm.wave_master_id waveId,
        sm.create_time as soCreateTime,
        upc.upc
        from pick_task pt

        left join so_master sm on sm.so_master_id = pt.so_master_id
        left join item_upc upc on sm.organization_id = upc.organization_id and pt.item_code = upc.item_code
        --         left join wave_master wm on wm.wave_id = sm.wave_master_id
        where 1=1
        and pt.parent_task_id is null
        <if test="waveId != null and waveId != ''">
            and sm.wave_master_id = #{waveId}
        </if>
        <if test="pickTaskId != null and pickTaskId != ''">
            and pt.pick_task_id = #{pickTaskId}
        </if>
        <if test="cellCode != null and cellCode != ''">
            and (pt.cell_code =#{cellCode} or pt.cell_name = #{cellCode})
        </if>
        <if test="shelfCode != null and shelfCode != ''">
            and (pt.shelf_code = #{shelfCode} or pt.shelf_name = #{shelfCode})
        </if>
        <if test="areaCode != null and areaCode != ''">
            and (pt.area_code = #{areaCode} or pt.area_name = #{areaCode})
        </if>
        <if test="source != null and source != ''">
            and pt.source = #{source}
        </if>

        <if test="itemCode != null and itemCode != ''">
            and pt.item_code = #{itemCode}
        </if>
        <if test="itemName != null and itemName != ''">
            and pt.item_name like CONCAT('%', #{itemName}, '%')
        </if>
        <if test="organizationId != null and organizationId != ''">
            and pt.organization_id = #{organizationId}
        </if>
        <if test="billNo != null and billNo != ''">
            and sm.bill_no = #{billNo}
        </if>
        <if test="startCreateTime != null and startCreateTime != '' and endCreateTime != null and endCreateTime != ''">
            and sm.create_time &gt; #{startCreateTime} and sm.create_time &lt; #{endCreateTime}
        </if>
        <if test="soDetailId != null and soDetailId != ''">
            and pt.so_detail_id = #{soDetailId}
        </if>
        <if test="state != null">
            and pt.state = #{state}
        </if>
        <if test="wareId != null">
            and pt.ware_id = #{wareId}
        </if>
        <if test="ids != null">
            and pt.pick_task_id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="states != null">
            and pt.state in
            <foreach collection="states" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="keyWordList != null">
            and
            <foreach collection="keyWordList" item="keyWord" index="index" open="(" separator="and" close=")">
                (
                pt.box_code like CONCAT('%', #{keyWord}, '%')
                or pt.lpn like CONCAT('%', #{keyWord}, '%')

                )
            </foreach>
        </if>
        order by pt.state desc ,sm.bill_no, pt.cell_code,pt.item_code
    </select>

    <select id="findByBillNo" parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskCriteria" resultMap="Dto">
        select
        pt.*,
        sm.bill_no,
        sm.customer_id,
        sm.customer_name,
        pd.trans_ratio,
        pd.pack_code,
        wm.allot_user_id,
        wm.allot_user_name,
        wm.allot_time,
        inven.inventory_id as invenId,
        upc.upc
        from pick_task pt

        left join inventory inven on pt.inventory_id = inven.inventory_id
        left join so_master sm on sm.so_master_id = pt.so_master_id
        left join pack_detail pd on pd.pack_detail_id = pt.pack_detail_id
        left join wave_master wm on wm.wave_id = sm.wave_master_id
        left join item_upc upc on sm.organization_id = upc.organization_id and pt.item_code = upc.item_code
        where 1=1
        and pt.is_parent =0
        and pt.ware_id = #{wareId}
        and sm.bill_no = #{billNo}
        and (inven.state>=0 or inven.state is null)
        order by  sm.bill_no, pt.cell_code,pt.item_code
    </select>

    <select id="findByWaveMasterId" parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskCriteria"
            resultMap="Dto">
        select
        pt.*,

        wm.allot_user_id,
        wm.allot_user_name,
        wm.allot_time,
        upc.upc
        from pick_task pt


        left join wave_master wm on wm.wave_id = pt.wave_master_id
        left join item_upc upc on pt.organization_id = upc.organization_id and pt.item_code = upc.item_code
        where 1=1
        and pt.parent_task_id is null
        <if test="waveId != null and waveId != ''">
            and wm.wave_id = #{waveId}
        </if>
        <if test="pickTaskId != null and pickTaskId != ''">
            and pt.pick_task_id = #{pickTaskId}
        </if>
        <if test="cellCode != null and cellCode != ''">
            and (pt.cell_code =#{cellCode} or pt.cell_name = #{cellCode})
        </if>
        <if test="shelfCode != null and shelfCode != ''">
            and (pt.shelf_code = #{shelfCode} or pt.shelf_name = #{shelfCode})
        </if>
        <if test="areaCode != null and areaCode != ''">
            and (pt.area_code = #{areaCode} or pt.area_name = #{areaCode})
        </if>
        <if test="source != null and source != ''">
            and pt.source = #{source}
        </if>

        <if test="itemCode != null and itemCode != ''">
            and pt.item_code = #{itemCode}
        </if>
        <if test="itemName != null and itemName != ''">
            and pt.item_name = #{itemName}
        </if>
        <if test="organizationId != null and organizationId != ''">
            and pt.organization_id = #{organizationId}
        </if>


        <if test="state != null">
            and pt.state = #{state}
        </if>
        <if test="wareId != null">
            and pt.ware_id = #{wareId}
        </if>

        order by pt.cell_code,pt.item_code
    </select>

    <select id="findRunningByBillNo" parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskCriteria"
            resultMap="Dto">
        select
        so.shop_daily_count,

        pt.*,
        info.weighting,
        wm.allot_user_id,
        wm.allot_user_name,
        wm.allot_time,
        upc.upc
        from pick_task pt

        left join so_master so on pt.so_master_id = so.so_master_id
        left join wave_master wm on wm.wave_id = pt.wave_master_id
        left join item_upc upc on pt.organization_id = upc.organization_id and pt.item_code = upc.item_code
        left join item_info info on pt.item_code = info.item_code
        where 1=1
        and pt.parent_task_id is null
        <if test="billNo != null and billNo != ''">
            and so.bill_no = #{billNo}
        </if>
        <if test="waveId != null and waveId != ''">
            and wm.wave_id = #{waveId}
        </if>
        <if test="pickTaskId != null and pickTaskId != ''">
            and pt.pick_task_id = #{pickTaskId}
        </if>
        <if test="cellCode != null and cellCode != ''">
            and (pt.cell_code =#{cellCode} or pt.cell_name = #{cellCode})
        </if>
        <if test="shelfCode != null and shelfCode != ''">
            and (pt.shelf_code = #{shelfCode} or pt.shelf_name = #{shelfCode})
        </if>
        <if test="areaCode != null and areaCode != ''">
            and (pt.area_code = #{areaCode} or pt.area_name = #{areaCode})
        </if>
        <if test="source != null and source != ''">
            and pt.source = #{source}
        </if>

        <if test="itemCode != null and itemCode != ''">
            and pt.item_code = #{itemCode}
        </if>
        <if test="itemName != null and itemName != ''">
            and pt.item_name = #{itemName}
        </if>
        <if test="organizationId != null and organizationId != ''">
            and pt.organization_id = #{organizationId}
        </if>


        <if test="state != null">
            and pt.state = #{state}
        </if>
        <if test="wareId != null">
            and pt.ware_id = #{wareId}
        </if>

        order by pt.cell_code,pt.item_code
    </select>
    <select id="findByBox" parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskCriteria" resultMap="Dto">
        select
        pt.*,
        wm.wave_id ,
        wm.allot_user_id,
        wm.allot_user_name,
        wm.allot_time,
        upc.upc
        from pick_task pt


        left join wave_master wm on wm.wave_id = pt.wave_master_id and wm.ware_id = #{wareId} and wm.state=11
        left join box_info box on box.box_code = wm.box_code and box.ware_id = #{wareId}
        left join item_upc upc on pt.organization_id = upc.organization_id and pt.item_code = upc.item_code
        where pt.ware_id =#{wareId}
        and pt.parent_task_id is null and pt.state!=2 and pt.state!=-1
        <if test="boxCode != null and boxCode != ''">
            and box.box_code = #{boxCode}
        </if>
        <if test="waveId != null and waveId != ''">
            and wm.wave_id = #{waveId}
        </if>
        <if test="pickTaskId != null and pickTaskId != ''">
            and pt.pick_task_id = #{pickTaskId}
        </if>
        <if test="cellCode != null and cellCode != ''">
            and (pt.cell_code =#{cellCode} or pt.cell_name = #{cellCode})
        </if>
        <if test="shelfCode != null and shelfCode != ''">
            and (pt.shelf_code = #{shelfCode} or pt.shelf_name = #{shelfCode})
        </if>
        <if test="areaCode != null and areaCode != ''">
            and (pt.area_code = #{areaCode} or pt.area_name = #{areaCode})
        </if>
        <if test="source != null and source != ''">
            and pt.source = #{source}
        </if>

        <if test="itemCode != null and itemCode != ''">
            and pt.item_code = #{itemCode}
        </if>
        <if test="itemName != null and itemName != ''">
            and pt.item_name = #{itemName}
        </if>
        <if test="organizationId != null and organizationId != ''">
            and pt.organization_id = #{organizationId}
        </if>


        <if test="state != null">
            and pt.state = #{state}
        </if>
        <if test="userId != null">
            and wm.allot_user_id = #{userId}
        </if>


        order by pt.cell_code,pt.item_code
    </select>

    <select id="allotTask" parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskCriteria" resultMap="Dto">
        select
        pt.*,
        sm.bill_no,
        sm.customer_id,
        sm.customer_name,
        sm.shop_daily_count,
        pd.trans_ratio,
        pd.pack_code,
        wm.allot_user_id,
        wm.allot_user_name,
        wm.allot_time,
        upc.upc
        from pick_task pt

        left join inventory inven on pt.inventory_id = inven.inventory_id
        left join so_master sm on sm.so_master_id = pt.so_master_id
        left join wave_master wm on wm.wave_id = sm.wave_master_id
        left join pack_detail pd on pd.pack_detail_id = pt.pack_detail_id
        left join item_upc upc on pt.organization_id = upc.organization_id and pt.item_code = upc.item_code

        where 1=1
        and pt.state =0
        and wm.allot_user_id = #{userId}
        and inven.state>=0
        <if test="waveId != null and waveId != ''">
            and sm.wave_master_id = #{waveId}
        </if>
        <if test="pickTaskId != null and pickTaskId != ''">
            and pt.pick_task_id = #{pickTaskId}
        </if>
        <if test="cellCode != null and cellCode != ''">
            and (pt.cell_code =#{cellCode} or pt.cell_name = #{cellCode})
        </if>
        <if test="shelfCode != null and shelfCode != ''">
            and (pt.shelf_code = #{shelfCode} or pt.shelf_name = #{shelfCode})
        </if>
        <if test="areaCode != null and areaCode != ''">
            and (pt.area_code = #{areaCode} or pt.area_name = #{areaCode})
        </if>
        <if test="source != null and source != ''">
            and pt.source = #{source}
        </if>

        <if test="itemCode != null and itemCode != ''">
            and pt.item_code = #{itemCode}
        </if>
        <if test="itemName != null and itemName != ''">
            and pt.item_name = #{itemName}
        </if>
        <if test="organizationId != null and organizationId != ''">
            and pt.organization_id = #{organizationId}
        </if>
        <if test="billNo != null and billNo != ''">
            and sm.bill_no = #{billNo}
        </if>
        <if test="soDetailId != null and soDetailId != ''">
            and pt.so_detail_id = #{soDetailId}
        </if>

        <if test="wareId != null">
            and pt.ware_id = #{wareId}
        </if>

        order by pt.cell_code,pt.item_code
    </select>

    <select id="findBySo" parameterType="java.lang.String" resultMap="Dto">
    select
    pt.*,
    sm.bill_no,
    pd.trans_ratio,
    pd.pack_code,
    upc.upc
    from pick_task pt
    left join so_master sm on sm.so_master_id = pt.so_master_id
    left join pack_detail pd on pd.pack_detail_id = pt.pack_detail_id
    left join item_upc upc on pt.organization_id = upc.organization_id and pt.item_code = upc.item_code
    where 1=1
    and sm.bill_no = #{soNo}
    </select>



    <select id="findByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    from pick_task
    where parent_task_id = #{parentTaskId}
    </select>

    <select id="findByWave" parameterType="java.lang.Integer" resultMap="Dto">
    select
    pt.*,
    sm.bill_no,
    pd.trans_ratio,
    pd.pack_code,
    upc.upc
    from pick_task pt
    left join so_master sm on sm.so_master_id = pt.so_master_id
    left join pack_detail pd on pd.pack_detail_id = pt.pack_detail_id
    left join item_upc upc on pt.organization_id = upc.organization_id and pt.item_code = upc.item_code
    where 1=1
    and (pt.pick_quantity - pt.review_quantity) &gt; 0
    and sm.wave_master_id = #{waveId}
    </select>

    <select id="findBySoDetailId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from pick_task
        where so_detail_id = #{soDetailId}

    </select>

    <select id="findFirst" parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskCriteria" resultMap="Dto">
        select
        pt.*,
        sm.bill_no,
        pd.trans_ratio,
        pd.pack_code,
        upc.upc
        from pick_task pt
        left join so_master sm on sm.so_master_id = pt.so_master_id
        left join pack_detail pd on pd.pack_detail_id = pt.pack_detail_id
        left join item_upc upc on pt.organization_id = upc.organization_id and pt.item_code = upc.item_code
        where 1=1
        <if test="wareId != null">
            and pt.ware_id = #{wareId}
        </if>
        <if test="states != null">
            and pt.state in
            <foreach collection="states" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="cellCode != null and cellCode != ''">
            and (pt.cell_code =#{cellCode} or pt.cell_name = #{cellCode})
        </if>
        <if test="shelfCode != null and shelfCode != ''">
            and (pt.shelf_code = #{shelfCode} or pt.shelf_name = #{shelfCode})
        </if>
        <if test="areaCode != null and areaCode != ''">
            and (pt.area_code = #{areaCode} or pt.area_name = #{areaCode})
        </if>
        <if test="billNo != null and billNo != ''">
            and sm.bill_no = #{billNo}
        </if>
        <if test="boxCode != null and boxCode != ''">
            and pt.box_code = #{boxCode}
        </if>
        <if test="ids != null">
            and pt.pick_task_id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        order by pt.pick_task_id
    </select>
    <select id="getSeedingWallAlertInfo" resultType="com.deer.wms.ware.task.model.pickTask.SeedingWallAlertInfo"
            parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskCriteria">
        select sd.bill_no as soNo,
        sd.item_code as itemCode,
        sd.item_name as itemName,
        sum(pt.pick_quantity) as pickQuantity,
        sum(pt.pick_quantity - pt.seeded_quantity) as neededQuantity

        from pick_task pt
        inner join so_detail sd on sd.so_detail_id = pt.so_detail_id
        where 1 = 1
        and pt.item_code = #{itemCode}
        <if test="inventoryId != null and inventoryId != ''">
            and pt.inventory_id = #{inventoryId}
        </if>
        group by pt.so_master_id,pt.item_code
    </select>

    <select id="findMergeTask" resultMap="BaseResultMap"
            parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskDto">
        select
        pt.*
        from
        pick_task pt
        join so_master sm on pt.so_master_id = sm.so_master_id
        join wave_master wm on wm.wave_id = sm.wave_master_id
        where pt.ware_id = #{wareId}
        and  pt.organization_id = #{organizationId}
        and pt.state = 0
        and pt.is_parent = 0   and( wm.state=1 or wm.state=11)
        and pt.cell_code = #{cellCode}
        and pt.item_code = #{itemCode}
        and sm.wave_master_id = #{waveId}
        and pt.wave_master_id is null
    </select>

    <select id="mergeTask" resultMap="Dto">
        select pt.*,
        wm.wave_id,
        wm.is_seeding
        from pick_task pt
        inner join so_master sm on pt.so_master_id = sm.so_master_id
        inner join wave_master wm on wm.wave_id = sm.wave_master_id
        where
        pt.state = 0

        and pt.is_parent = 0 and( wm.state=1 or wm.state=11) and pt.wave_master_id is null
        group by sm.wave_master_id,pt.item_code,pt.cell_code,pt.ware_id,pt.organization_id
       -- having count(1) > 1
    </select>


    <select id="getChildTasksByParentId" parameterType="java.lang.Integer" resultMap="Dto">
        select
        pt.*,
        sm.bill_no,
        sm.customer_id,
        sm.customer_name,
        pd.trans_ratio,
        pd.pack_code
        from pick_task pt
        left join inventory inven on pt.inventory_id = inven.inventory_id
        left join so_master sm on sm.so_master_id = pt.so_master_id
        left join pack_detail pd on pd.pack_detail_id = pt.pack_detail_id
        where 1=1
        and pt.state =4
        and pt.parent_task_id = #{parentId}
        and inven.state>=0

    </select>

    <select id="findByWaveIdAndItemCode" resultMap="BaseResultMap">
        select
        pt.*,
        upc.upc
        from pick_task pt
        left join item_upc upc on pt.organization_id = upc.organization_id and pt.item_code = upc.item_code

        where 1=1
        and   pt.parent_task_id  is null
        and pt.wave_master_id = #{waveMasterId}
        and pt.item_code =#{itemCode}
    </select>

    <select id="getTaskById" parameterType="java.lang.Integer" resultMap="Dto">
        select
        pt.*,
        upc.upc
        from pick_task pt
--         left join inventory inven on pt.inventory_id = inven.inventory_id
--         left join so_master sm on sm.so_master_id = pt.so_master_id
--         left join pack_detail pd on pd.pack_detail_id = pt.pack_detail_id
        left join item_upc upc on pt.organization_id = upc.organization_id and pt.item_code = upc.item_code
        where 1=1
        and pt.pick_task_id = #{taskId}

    </select>
    <select id="findBySoMasterId" resultMap="BaseResultMap">
        select * from pick_task
        where so_master_id = #{soMaterId}
        and is_parent = 0 and state !=-1
        order by state
    </select>
    
    <select id="findPickingByInventory" resultMap="BaseResultMap">
        select * from pick_task
        where inventory_id = #{inventoryId}
        and is_parent = 0 
        and (state = 0 or state = 1)
    </select>


    <select id="pickTaskMoveList" parameterType="com.deer.wms.ware.task.model.pickTask.PickTaskCriteria" resultMap="Dto">
        select
        pt.*,
        sm.bill_no,
        sm.allot_bill_no,
        sm.create_time as soCreateTime
        from pick_task pt
        left join so_master sm on sm.so_master_id = pt.so_master_id
        where 1=1
        and pt.parent_task_id is null
        <if test="pickTaskId != null and pickTaskId != ''">
            and pt.pick_task_id = #{pickTaskId}
        </if>
        <if test="cellCode != null and cellCode != ''">
            and (pt.cell_code =#{cellCode} or pt.cell_name = #{cellCode})
        </if>
        <if test="shelfCode != null and shelfCode != ''">
            and (pt.shelf_code = #{shelfCode} or pt.shelf_name = #{shelfCode})
        </if>
        <if test="areaCode != null and areaCode != ''">
            and (pt.area_code = #{areaCode} or pt.area_name = #{areaCode})
        </if>
        <if test="source != null and source != ''">
            and pt.source = #{source}
        </if>
        <if test="itemCode != null and itemCode != ''">
            and pt.item_code = #{itemCode}
        </if>
        <if test="itemName != null and itemName != ''">
            and pt.item_name like CONCAT('%', #{itemName}, '%')
        </if>
        <if test="organizationId != null and organizationId != ''">
            and pt.organization_id = #{organizationId}
        </if>
        <if test="billNo != null and billNo != ''">
            and sm.bill_no = #{billNo}
        </if>
        <if test="startCreateTime != null and startCreateTime != '' and endCreateTime != null and endCreateTime != ''">
            and sm.create_time &gt; #{startCreateTime} and sm.create_time &lt; #{endCreateTime}
        </if>
        <if test="soDetailId != null and soDetailId != ''">
            and pt.so_detail_id = #{soDetailId}
        </if>
        <if test="state != null">
            and pt.state = #{state}
        </if>
        <if test="wareId != null">
            and pt.ware_id = #{wareId}
        </if>
        <if test="billNos != null">
            and sm.bill_no in
            <foreach collection="billNos" item="billNo" open="(" separator="," close=")">
                #{billNo}
            </foreach>
        </if>
        order by pt.pick_task_id
    </select>

</mapper>
