<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.ware.task.dao.PickBatchDetailMapper">

    <update id="updateStatusByGroup" >
        update pick_batch_detail
        set status = #{status}
        where pick_batch_group_no = #{pickBatchGroupNo}
        and status >= 0
    </update>
    
    <select id="findByBatchNo" resultType="com.deer.wms.ware.task.model.pickTask.PickBatchDetail">
        SELECT * FROM `pick_batch_detail`
        WHERE `pick_batch_no` = #{pickBatchNo}
        AND `status` >= 0
    </select>
    
    <select id="findByBatchGroupNo" resultType="com.deer.wms.ware.task.model.pickTask.PickBatchDetail">
        SELECT * FROM `pick_batch_detail`
        WHERE `pick_batch_group_no` = #{pickBatchGroupNo}
        AND `status` >= 0
    </select>
    
</mapper>