<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.review.manage.dao.BillRecordMapper">
    <resultMap id="BaseResultMap" type="com.deer.wms.review.manage.model.BillRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="bill_record_id" jdbcType="INTEGER" property="billRecordId"/>
        <result column="bill_no" jdbcType="VARCHAR" property="billNo"/>
        <result column="record_type" jdbcType="INTEGER" property="recordType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="modify_user_id" jdbcType="INTEGER" property="modifyUserId"/>
        <result column="modify_user_name" jdbcType="VARCHAR" property="modifyUserName"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
    </resultMap>

    <select id="findList" parameterType="com.deer.wms.review.manage.model.BillRecordCriteria" resultMap="BaseResultMap">
        select *
        from bill_record bill
        where 1=1
        <if test="billRecordId != null">
            and bill.bill_record_id =#{billRecordId}
        </if>
        <if test="billNo != null">
            and bill.bill_no =#{billNo}
        </if>
        <if test="createUserId != null">
            and bill.create_user_id = #{createUserId}
        </if>
        <if test="modifyUserId != null">
            and bill.modify_user_id = #{modifyUserId}
        </if>


    </select>

    <select id="findByBillNoAndType" parameterType="com.deer.wms.review.manage.model.BillRecordCriteria"
            resultMap="BaseResultMap">
  select *
  from bill_record bill
  where bill.bill_no =#{billNo}
  and bill.record_type =#{recordType}
 </select>
</mapper>