<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.base.system.dao.ItemCombinedMapper">
    <resultMap id="BaseResultMap" type="com.deer.wms.base.system.model.ItemCombined.ItemCombined">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="item_code" jdbcType="VARCHAR" property="itemCode"/>
        <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
        <result column="desc1" jdbcType="VARCHAR" property="desc1"/>
        <result column="desc2" jdbcType="VARCHAR" property="desc2"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="procedure_desc" jdbcType="VARCHAR" property="procedureDesc"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="is_packing" jdbcType="INTEGER" property="isPacking"/>
        <result column="ver" jdbcType="VARCHAR" property="ver"/>
        <result column="organization_id" jdbcType="INTEGER" property="organizationId"/>
    </resultMap>
    <resultMap id="Dto" type="com.deer.wms.base.system.model.ItemCombined.ItemCombinedDto" extends="BaseResultMap">
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <select id="findList" parameterType="com.deer.wms.base.system.model.ItemCombined.ItemCombinedCriteria"
            resultMap="Dto">
    select *,
    og.organization_name
    from item_combined ic
    left join organization og on ic.organization_id = og.organization_id
    where 1=1

  </select>

    <select id="findByCombinedId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from item_combined where id = #{combinedId}
  </select>
</mapper>